---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
			<header>
				<div class="LOGO">
					LOGO
				</div>
				<nav>
					<ul>
						<a href="/login"><li>Log In</li></a>
						<a href="/register"><li>Sign Up</li></a>
					</ul>
				</nav>
			</header>
			<div class="container">
			<main>
				<h3>Content :D</h3>
			</main>
		</div>
	</body>
</html>

<style>

	body{
        margin: 0;
    }
    .container{
        padding: 30px;
    }
	header{
		background-color: rgb(57, 163, 195);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px; 
	}
	nav ul{
		display: flex;
		gap: 20px;
	}
	ul{
		list-style: none;
	}
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		cursor: pointer
	}
</style>
