<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Create an account</h1>
        <form class="login-form">
            <label>
                <span>First Name</span>
                <input type="text" name="firstname" autocomplete="off" id="firstname" required>
            </label>
            <label>
                <span>Last Name</span>
                <input type="text" name="lastname" autocomplete="off" id="lastname" required>
            </label>
            <label>
                <span>Username</span>
                <input type="text" name="username" autocomplete="off" id="username" required>
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" required>
            </label>
            <button type="submit">Register</button>
        </form>
    </div>
    <script>
        const form = document.querySelector('.login-form') as HTMLFormElement

        form.addEventListener("submit", async (e) => {
            e.preventDefault()
            const formData = new FormData(form)
            const firstname = formData.get("firstname")
            const lastname = formData.get("lastname")
            const username = formData.get("username")
            const password = formData.get("password")

            const response = await fetch(`http://localhost:3600/signup`, {
                method: "POST", 
                headers: {
					"Content-Type": 'application/json',
				},
				body: JSON.stringify({
                    "firstname": firstname, 
                    "lastname": lastname,
					"username": username,
					"password": password
				}),
				credentials: 'include'
            })
            const data = await response.json()
            
            if(response.ok){
                window.location.href = "/login"
            }

        })
    </script>
</body>
</html>